<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<main role="main" class="container">

    <div class="border-bottom mt-5 mb-5">
      
      <% if (noCart == 'カートに商品がありません') { %>
        <h1>カートに商品がありません</h1> 
      <% } %>
      <% if (cartIn == 'カートに追加') { %>
        <h1>カートに商品を追加しました</h1>
        <a href="/order">カートを見る</a> 
      <% } %> 
    </div>


    
    <% if (body != []) { %>
      <h1>あなたのカート</h1>
    <% body.forEach(function (item, index) { %>
    
    
      
        <div>
        
        
        <img style="max-height: 6rem;" width="auto" 
             src="./image/<%= item.item.photoURL %>">
        
        
        
        <span><%= item.item.name %>&nbsp;&nbsp;&nbsp;</span>
        
      
      
        
        <!-- Ajax jquerry ライブラリ使用 -->
        <!-- <button><strong></strong>－</strong></button> -->
        <!-- <input type="text" name="" id="" value="1" pattern="[0-9]"> -->
        <span>
          &nbsp;&nbsp;&nbsp;<input type="number" name="num1" min="1" max="10" value="<%= item.quantity %>" step="1" required>
        </span>
        <!-- <button><strong>＋</strong></button> -->
        
      
        
        
        <span>&nbsp;&nbsp;&nbsp;<%= item.item.price %>円</span>
      　
        
        <span>
          &nbsp;&nbsp;&nbsp;<button>×</button>
        </span>
        
      
      
    
      </div>

    <% }); %>
    <% } %>
  

    <div class="row">
      <div class="col">
        <span>合計金額</span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button>ご購入手続きへ</button>
      </div>
    </div>

</main>
</body>
</html>