<!doctype html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Node EC</title>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/node-ec.css">
</head>
<body>
<div id="nav">
    <div class="col-sm nav-align">
        <h1 id="title">Book Mode</h1>
    </div>
    <div class="col-sm nav-align">
        <a href="/">
            <span class="button">Home</span>
        </a>
        <a href="/login">
            <span class="button">ログイン</span>
        </a>
        <a href="/account/register">
            <span class="button">アカウント作成</span>
        </a>
        <a href="/cart">
            <span class="button">カート</span>
        </a>
    </div>
</div>
<!-- 各ejsファイルのbody -->
<%- body %>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div>
                    <a href="#">
                        <span class="button">Book Modeとは</span>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <span class="button">FAQ</span>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <span class="button">ニュース</span>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <a href="#">
                        <span class="button">Twitter</span>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <span class="button">Facebook</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>