<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
<main role="main" class="container">

    <!-- <div class="border-bottom mt-5 mb-5">
        <h1>注文確認</h1>
    </div> -->

   

    <div class="row">
      <div class="col"><strong>注文確認</strong></div>
    </div>

    <div class="row">
      <div class="col">
        <span>商品画像</span>
        <span>商品名前</span>
      </div>
      <div class="col">
      </div>
    </div>
    
    <div class="row">
      <div class="col"><br><br></div>
    </div>
    

    <div class="row">
      <div class="col"><strong>送付先の住所</strong></div>
      <div class="col">
        <div>小計111</div>
        <span>税金</span>111
        <hr>
        <div>合計金額1111</div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span>ユーザ名前</span>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <span>ユーザ住所</span>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <a href="/">他の連絡先を選択</a>
      </div>
    </div>
    
    <div class="row">
      <div class="col"><br><br></div>
    </div>
      
    <div class="row">
      <div class="col"><strong>支払い方法の選択</strong></div>
    </div>

    <div class="row">
      <div class="col">
        <input type="checkbox" value="credit">クレジットカード
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="checkbox" value="cash">代金引換
      </div>
      <div class="col">
        <input type="submit" value="注文を確定する">
      </div>
    </div>
    

  

    

</main>
</body>
</html>